body {
    background-color: #fefefe;
    font-family: 'Noto Sans Mono', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h1 {
    color: #F3F63C;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    -webkit-text-stroke: 4px #3B4CCA;
    text-transform: uppercase;
    font-weight: lighter;
    position: absolute;
    top: 50px;
}

h2 {
    color: #3B4CCA;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: lighter;
    position: absolute;
    top: 150px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 40px;
}

.main-section {
    background-image: url("../assets/backgroundfield.jpg");
    width: 1200px;
    height: 780px;
    border: 6px double #fefefe;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

.pokemon-options {
    max-height: 250px;
    position: absolute;
    top: 460px;
  }

.main-page-buttons {
    position: absolute;
    top: 685px;
}

#error {
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#error.hidden {
    display: none;
}

#instructions {
    color: #3B4CCA;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

#play-count {
    color: #3B4CCA;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#reset-button {
    display: flex;
    justify-content: center;
}

input[type=radio] {
    display: none;
}

input[type=radio] + img {
    padding-left: 100px;
    padding-right: 100px;
}

input[type=radio]:checked + img {
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

button {
    padding: 10px;
    border: 0px;
    background-color: transparent;
    color:#FFDE00;
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

button#reset {
    margin-top: 10px;
    padding: 10px;
    border: 4px double #fefefe;
    background-color: #3B4CCA;
    color:#F3F63C;
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

a {
    color: #FFDE00;
    text-decoration: none;
}

@keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);} 
    30% {transform: translateY(-30px);} 
    50% {transform: translateY(-15px);} 
    70% {transform: translateY(-30px);} 
    90% {transform: translateY(-15px);} 
  }